<a href="https://colab.research.google.com/github/Abhigyan76/Movie-Recommendation-System/blob/main/Untitled15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [130]:
import pandas as pd

Step 1. Import the necessary libraries

In [2]:
import pandas as pd

Step 2. Import the dataset from this address.

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

Step 3. Assign it to a variable called chipo.

In [4]:
chipo = pd.read_csv(url, sep = '\t')


Step 4. See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

Step 5. What is the number of observations in the dataset?

In [6]:
chipo.shape[0]

4622

In [7]:
chipo.info

<bound method DataFrame.info of       order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]>

Step 6. What is the number of columns in the dataset?

In [8]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [9]:
chipo.shape

(4622, 5)

Step 7. Print the name of all the columns.

In [10]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

Step 8. How is the dataset indexed?

In [11]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

Step 9. Which was the most-ordered item?

In [12]:
#orderes = chipo.groupby('item_name').model.value_counts().groupby(level=0).nlargest(1)
c = chipo.groupby('item_name').sum().sort_values(['quantity'],ascending=False)

<ipython-input-12-c4ab9a5fb40f>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  c = chipo.groupby('item_name').sum().sort_values(['quantity'],ascending=False)

In [13]:
c

                                       order_id  quantity
item_name
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chips and Guacamole                      449959       506
Steak Burrito                            328437       386
Canned Soft Drink                        304753       351
Chips                                    208004       230
Steak Bowl                               193752       221
Bottled Water                            175944       211
Chips and Fresh Tomato Salsa             100419       130
Canned Soda                               76396       126
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Side of Chips                             84769       110
Veggie Burrito                            80962        97
Barbacoa Burrito                          74718        91
Veggie Bowl                               72270        87
Carnitas Bowl                             62742        71
Barbacoa Bowl                             53972        66
Carnitas Burrito                          51652        60
Steak Soft Tacos                          50177        56
6 Pack Soft Drink                         52322        55
Chips and Tomatillo Red Chili Salsa       45556        50
Chicken Crispy Tacos                      47382        50
Chips and Tomatillo Green Chili Salsa     41170        45
Carnitas Soft Tacos                       37673        40
Steak Crispy Tacos                        35818        36
Chips and Tomatillo-Green Chili Salsa     21826        33
Steak Salad Bowl                          29590        31
Nantucket Nectar                          21814        29
Chips and Tomatillo-Red Chili Salsa       18344        25
Barbacoa Soft Tacos                       18725        25
Chips and Roasted Chili Corn Salsa        14999        23
Izze                                      10587        20
Veggie Salad Bowl                         17303        18
Chips and Roasted Chili-Corn Salsa        17462        18
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Chicken Salad                             10465         9
Carnitas Crispy Tacos                      5868         8
Veggie Soft Tacos                          5520         8
Burrito                                    1550         6
Veggie Salad                               7265         6
Carnitas Salad Bowl                        6693         6
Bowl                                        472         4
Steak Salad                                2362         4
Salad                                      1150         2
Crispy Tacos                                434         2
Chips and Mild Fresh Tomato Salsa           279         1
Carnitas Salad                             1500         1
Veggie Crispy Tacos                         668         1


Step 11. What was the most ordered item in the choice_description column?

In [14]:
c = chipo.groupby('choice_description').sum().sort_values(['quantity'], ascending=False)

<ipython-input-14-5abfbeabacd4>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  c = chipo.groupby('choice_description').sum().sort_values(['quantity'], ascending=False)

In [15]:
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

 How many items were orderd in total?

In [16]:
chipo.quantity.sum()

4972

Step 13. Turn the item price into a float

Step 13.a. Check the item price type

In [17]:
chipo.item_price.dtype

dtype('O')

Step 13.b. Create a lambda function and change the type of item price

In [20]:
a = lambda x:float(x[1:-1])
chipo.item_price =chipo.item_price.apply(a)

In [21]:
a

Step 13.c. Check the item price type

In [22]:
chipo.item_price.dtype

dtype('float64')

Step 14. How much was the revenue for the period in the dataset?

In [24]:
revenue=(chipo['quantity']*chipo['item_price']).sum()
revenue

39237.02

tep 15. How many orders were made in the period?

In [25]:
orders_made = chipo.order_id.value_counts().count()
orders_made

1834

Step 16. What is the average revenue amount per order?

In [28]:
# avg_revenue = chipo['item_price'].mean()
# avg_revenue

7.464335785374297

In [29]:
average_revenue=(chipo['item_price']*chipo['quantity']).sum()

In [30]:
average_revenue

39237.02

Step 17. How many different items are sold?

In [32]:
sold= chipo.item_name.value_counts().count()
sold

50

# exercise2

tep 3. Assign it to a variable called users and use the 'user_id' as index

In [33]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',
                      sep='|', index_col='user_id')

Step 4. See the first 25 entrie

In [34]:
users.head(25)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

Step 5. See the last 10 entries

In [36]:
users.tail(10)

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

Step 6. What is the number of observations in the dataset?

In [37]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB

Step 7. What is the number of columns in the dataset?

In [40]:
users.shape[1]

4

Step 8. Print the name of all the columns.

In [41]:
users.columns

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

Step 9. How is the dataset indexed?

In [42]:
users.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

Step 10. What is the data type of each column?

In [44]:
users.dtypes

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

Step 11. Print only the occupation column

In [46]:
users['occupation']

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

Step 12. How many different occupations are in this dataset?

In [48]:
users['occupation'].unique

<bound method Series.unique of user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object>

Step 13. What is the most frequent occupation?

In [49]:
# users.value_counts().count()

936

In [52]:
users['occupation'].value_counts().head()

student          196
other            105
educator          95
administrator     79
engineer          67
Name: occupation, dtype: int64

Step 14. Summarize the DataFrame.

In [53]:
users.describe()

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

Step 15. Summarize all the columns

In [54]:
users.describe(include='all')

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

Step 16. Summarize only the occupation column

In [55]:
users['occupation'].describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

Step 17. What is the mean age of users?

In [56]:
users['age'].mean()

34.05196182396607

Step 18. What is the age with least occurrence?

In [59]:
users['age'].value_counts().tail()

7     1
66    1
11    1
10    1
73    1
Name: age, dtype: int64

# filtering

Step 3. Assign it to a variable called chipo.

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')

In [3]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

Step 4. How many products cost more than $10.00?

In [4]:
# if chipo['item_price']>10:

SyntaxError: ignored

tep 5. What is the price of each item?

In [5]:
chipo[(chipo['item_name'] == 'Chicken Bowl') & (chipo['quantity'] == 1)]

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49
42,20,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$11.25
...,...,...,...,...,...
4590,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$11.25
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75

Step 6. Sort by the name of the item

In [7]:
sorting=chipo.item_name.sort_values()

In [8]:
sorting

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
              ...
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

Step 7. What was the quantity of the most expensive item ordered?

In [12]:
chipo.item_price.sort_values().ascending=False.head(1) #problem??

AttributeError: ignored

Step 8. How many times was a Veggie Salad Bowl ordered?

In [21]:
a= chipo[chipo.item_name =='Veggie Salad Bowl']

In [22]:
len(a)

18

Step 9. How many times did someone order more than one Canned Soda?

In [27]:
b=chipo[(chipo.item_name=='Canned Soda') & (chipo.quantity>1)]

In [29]:
len(b)

20

Step 3. Assign it to a variable called euro12.

In [32]:
euro12 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv', sep=',')
euro12

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

Step 4. Select only the Goal column.

In [35]:
euro12.Goals

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

Step 5. How many team participated in the Euro2012?

In [38]:
len(euro12['Team'])

16

Step 6. What is the number of columns in the dataset?

In [39]:
euro12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 35 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Team                        16 non-null     object
 1   Goals                       16 non-null     int64
 2   Shots on target             16 non-null     int64
 3   Shots off target            16 non-null     int64
 4   Shooting Accuracy           16 non-null     object
 5   % Goals-to-shots            16 non-null     object
 6   Total shots (inc. Blocked)  16 non-null     int64
 7   Hit Woodwork                16 non-null     int64
 8   Penalty goals               16 non-null     int64
 9   Penalties not scored        16 non-null     int64
 10  Headed goals                16 non-null     int64
 11  Passes                      16 non-null     int64
 12  Passes completed            16 non-null     int64
 13  Passing Accuracy            16 non-null     object
 14  Touches                     16 non-null     int64
 15  Crosses                     16 non-null     int64
 16  Dribbles                    16 non-null     int64
 17  Corners Taken               16 non-null     int64
 18  Tackles                     16 non-null     int64
 19  Clearances                  16 non-null     int64
 20  Interceptions               16 non-null     int64
 21  Clearances off line         15 non-null     float64
 22  Clean Sheets                16 non-null     int64
 23  Blocks                      16 non-null     int64
 24  Goals conceded              16 non-null     int64
 25  Saves made                  16 non-null     int64
 26  Saves-to-shots ratio        16 non-null     object
 27  Fouls Won                   16 non-null     int64
 28  Fouls Conceded              16 non-null     int64
 29  Offsides                    16 non-null     int64
 30  Yellow Cards                16 non-null     int64
 31  Red Cards                   16 non-null     int64
 32  Subs on                     16 non-null     int64
 33  Subs off                    16 non-null     int64
 34  Players Used                16 non-null     int64
dtypes: float64(1), int64(29), object(5)
memory usage: 4.5+ KB

Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [41]:
discipline=euro12[['Team','Yellow Cards','Red Cards']]
discipline

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [45]:
discipline.sort_values(['Red Cards','Yellow Cards'])

                   Team  Yellow Cards  Red Cards
2               Denmark             4          0
5               Germany             4          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
4                France             6          0
12               Russia             6          0
1        Czech Republic             7          0
14               Sweden             7          0
0               Croatia             9          0
13                Spain            11          0
10             Portugal            12          0
7                 Italy            16          0
11  Republic of Ireland             6          1
9                Poland             7          1
6                Greece             9          1

Step 9. Calculate the mean Yellow Cards given per Team

In [49]:
round(discipline['Yellow Cards'].mean())

7

Step 10. Filter teams that scored more than 6 goals

In [50]:
euro12[euro12.Goals>6]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

Step 11. Select the teams that start with G

In [52]:
discipline[discipline.Team.str.startswith('G')]

      Team  Yellow Cards  Red Cards
5  Germany             4          0
6   Greece             9          1


Step 12. Select the first 7 columns

In [53]:
# euro12.head(7)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20

In [57]:
euro12.iloc[: ,0:7]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9%,16.0%,32
1,Czech Republic,4,13,18,41.9%,12.9%,39
2,Denmark,4,10,10,50.0%,20.0%,27
3,England,5,11,18,50.0%,17.2%,40
4,France,3,22,24,37.9%,6.5%,65
5,Germany,10,32,32,47.8%,15.6%,80
6,Greece,5,8,18,30.7%,19.2%,32
7,Italy,6,34,45,43.0%,7.5%,110
8,Netherlands,2,12,36,25.0%,4.1%,60
9,Poland,2,15,23,39.4%,5.2%,48
10,Portugal,6,22,42,34.3%,9.3%,82
11,Republic of Ireland,1,7,12,36.8%,5.2%,28
12,Russia,5,9,31,22.5%,12.5%,59
13,Spain,12,42,33,55.9%,16.0%,100
14,Sweden,5,17,19,47.2%,13.8%,39
15,Ukraine,2,7,26,21.2%,6.0%,38

Step 13. Select all columns except the last 3.

In [58]:
euro12.iloc[:,:-3]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,0,10,3,13,81.3%,41,62,2,9,0
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,1,10,6,9,60.1%,53,73,8,7,0
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,1,10,5,10,66.7%,25,38,8,4,0
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,2,29,3,22,88.1%,43,45,6,5,0
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,1,7,5,6,54.6%,36,51,5,6,0
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,1,11,6,10,62.6%,63,49,12,4,0
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,1,23,7,13,65.1%,67,48,12,9,1
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,2,18,7,20,74.1%,101,89,16,16,0
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,0,9,5,12,70.6%,35,30,3,5,0
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,0,8,3,6,66.7%,48,56,3,7,1
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,2,11,4,10,71.5%,73,90,10,12,0
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,0,23,9,17,65.4%,43,51,11,6,1
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,0,8,3,10,77.0%,34,43,4,6,0
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,5,8,1,15,93.8%,102,83,19,11,0
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,1,12,5,8,61.6%,35,51,7,7,0
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,0,4,4,13,76.5%,48,31,4,5,0

tep 14. Present only the Shooting Accuracy from England, Italy and Russia

In [59]:
euro12['Shooting Accuracy'=] #problem

SyntaxError: ignored

Step 2. This is the data given as a dictionary

In [63]:
# Create an example dataframe about a fictional army
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana']}

Step 3. Create a dataframe and assign it to a variable called army.
Don't forget to include the columns names in the order presented in the dictionary ('regiment', 'company', 'deaths'...) so that the column index order is consistent with the solutions. If omitted, pandas will order the columns alphabetically.

In [64]:
army = pd.DataFrame(data=raw_data)
army

ValueError: ignored

# grouping

Step 3. Assign it to a variable called drinks.

In [65]:
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

Step 4. Which continent drinks more beer on average?

In [67]:
drinks.groupby('continent').beer_servings.mean()

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

Step 5. For each continent print the statistics for wine consumption.

In [69]:
drinks.groupby('continent').wine_servings	.describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

Step 6. Print the mean alcohol consumption per continent for every column

In [70]:
drinks.groupby('continent').mean()

<ipython-input-70-031c103ddf69>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  drinks.groupby('continent').mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

tep 7. Print the median alcohol consumption per continent for every column

In [71]:
drinks.groupby('continent').median()

<ipython-input-71-073425b0723a>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  drinks.groupby('continent').median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

Step 8. Print the mean, min and max values for spirit consumption.
This time output a DataFrame

In [72]:
drinks.groupby('continent').spirit_servings.agg(['min','max','mean'])

           min  max        mean
continent
AF           0  152   16.339623
AS           0  326   60.840909
EU           0  373  132.555556
OC           0  254   58.437500
SA          25  302  114.750000

tep 3. Assign it to a variable called users.

In [73]:
users = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',
                      sep='|', index_col='user_id')
users.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

Step 4. Discover what is the mean age per occupation

In [75]:
users.groupby('occupation').age.mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [77]:
def sex_ratio(x):#problem
  if x == 'M':
    return 1
  else :
    return 0
users['gender']=users['gender'].apply(sex_ratio)
a = users.groupby('occupation').sex_ratio.sum()
a

AttributeError: ignored

Step 6. For each occupation, calculate the minimum and maximum ages

In [78]:
users.groupby('occupation').agg(['min','max'])

              age     gender     zip_code
              min max    min max      min    max
occupation
administrator  21  70      0   0    02154  V1G4L
artist         19  48      0   0    01945  V5A2B
doctor         28  64      0   0    47401  97405
educator       23  63      0   0    01602  M4J2K
engineer       22  70      0   0    00000  T8H1N
entertainment  15  50      0   0    01040  V3N4P
executive      22  69      0   0    00000  L1V3W
healthcare     22  62      0   0    02154  97232
homemaker      20  50      0   0    17331  96349
lawyer         21  53      0   0    06371  90703
librarian      23  69      0   0    01080  99603
marketing      24  55      0   0    01913  97215
none           11  55      0   0    21206  94619
other          13  64      0   0    02110  V0R2M
programmer     20  63      0   0    01331  98121
retired        51  73      0   0    02903  98257
salesman       18  66      0   0    30011  97408
scientist      23  55      0   0    02113  T8H1N
student         7  42      0   0    01002  R3T5K
technician     21  55      0   0    02139  Y1A6B
writer         18  60      0   0    08534  E2A4H

Step 7. For each combination of occupation and gender, calculate the mean age

In [82]:
users.groupby(['occupation','gender']).age.mean()

occupation     gender
administrator  0         38.746835
artist         0         31.392857
doctor         0         43.571429
educator       0         42.010526
engineer       0         36.388060
entertainment  0         29.222222
executive      0         38.718750
healthcare     0         41.562500
homemaker      0         32.571429
lawyer         0         36.750000
librarian      0         40.000000
marketing      0         37.615385
none           0         26.555556
other          0         34.523810
programmer     0         33.121212
retired        0         63.071429
salesman       0         35.666667
scientist      0         35.548387
student        0         22.081633
technician     0         33.148148
writer         0         36.311111
Name: age, dtype: float64

Step 8. For each occupation present the percentage of women and men

In [83]:
users.groupby('occupation').#problem

SyntaxError: ignored

tep 2. Create the DataFrame with the following values:

In [84]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'],
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

Step 3. Assign it to a variable called regiment.
Don't forget to name each column

In [85]:
regiment = pd.DataFrame(raw_data, columns = raw_data.keys())
regiment

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

Step 4. What is the mean preTestScore from the regiment Nighthawks?

In [90]:
# regiment.groupby('preTestScore').Nighthawks.mean()

AttributeError: ignored

In [91]:

regiment[regiment['regiment'] == 'Nighthawks'].groupby('regiment').mean()

<ipython-input-91-9da26406255f>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  regiment[regiment['regiment'] == 'Nighthawks'].groupby('regiment').mean()

            preTestScore  postTestScore
regiment
Nighthawks         15.25           59.5


Step 5. Present general statistics by company

In [94]:
regiment.company.describe()

count      12
unique      2
top       1st
freq        6
Name: company, dtype: object

Step 6. What is the mean of each company's preTestScore?

In [97]:
regiment.groupby('company').preTestScore.mean()

company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

Step 7. Present the mean preTestScores grouped by regiment and company

In [98]:
regiment.groupby(['regiment','company']).preTestScore.mean()

regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

In [99]:
regiment.groupby(['regiment','company']).preTestScore.mean().unstack()

company      1st   2nd
regiment
Dragoons     3.5  27.5
Nighthawks  14.0  16.5
Scouts       2.5   2.5

tep 9. Group the entire dataframe by regiment and company

In [100]:
regiment.groupby(['regiment','company'])

Step 10. What is the number of observations in each regiment and company

In [101]:
regiment.groupby(['regiment','company']).size()

regiment    company
Dragoons    1st        2
            2nd        2
Nighthawks  1st        2
            2nd        2
Scouts      1st        2
            2nd        2
dtype: int64

Step 11. Iterate over a group and print the name and the whole data from the regiment

In [102]:
for name,group in regiment.groupby('regiment'):
  print(name)
  print(group)

Dragoons
   regiment company    name  preTestScore  postTestScore
4  Dragoons     1st   Cooze             3             70
5  Dragoons     1st   Jacon             4             25
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57
Nighthawks
     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
Scouts
   regiment company   name  preTestScore  postTestScore
8    Scouts     1st  Sloan             2             62
9    Scouts     1st  Piger             3             70
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70

# Apply

Step 3. Assign it to a variable called df.

In [103]:
csv_url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv'
df = pd.read_csv(csv_url)
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [104]:
df.loc[:'school','guardian']

0      mother
1      father
2      mother
3      mother
4      father
        ...
390     other
391    mother
392     other
393    mother
394    father
Name: guardian, Length: 395, dtype: object

Step 5. Create a lambda function that will capitalize strings.

In [108]:
capitalizer = lambda x:x.capitalize()

Step 6. Capitalize both Mjob and Fjob

In [109]:
df['Mjob'].apply(capitalizer)
df['Fjob'].apply(capitalizer)

0       Teacher
1         Other
2         Other
3      Services
4         Other
         ...
390    Services
391    Services
392       Other
393       Other
394     At_home
Name: Fjob, Length: 395, dtype: object

ep 7. Print the last elements of the data set.

In [110]:
df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [111]:
df['Mjob']=df['Mjob'].apply(capitalizer)
df['Fjob']=df['Fjob'].apply(capitalizer)

In [112]:
df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
390,MS,M,20,U,LE3,A,2,2,Services,Services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,Services,Services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,Other,Other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,Services,Other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,Other,At_home,...,3,2,3,3,3,5,5,8,9,9

Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [113]:
def majority(x):
  if x>17:
    return True
  else:
    return False

In [115]:
df['legal_drinker']=df['age'].apply(majority)

In [116]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,legal_drinker
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,...,3,4,1,1,3,6,5,6,6,True
1,GP,F,17,U,GT3,T,1,1,At_home,Other,...,3,3,1,1,3,4,5,5,6,False
2,GP,F,15,U,LE3,T,1,1,At_home,Other,...,3,2,2,3,3,10,7,8,10,False
3,GP,F,15,U,GT3,T,4,2,Health,Services,...,2,2,1,1,5,2,15,14,15,False
4,GP,F,16,U,GT3,T,3,3,Other,Other,...,3,2,1,2,5,4,6,10,10,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,Services,Services,...,5,4,4,5,4,11,9,9,9,True
391,MS,M,17,U,LE3,T,3,1,Services,Services,...,4,5,3,4,2,3,14,16,16,False
392,MS,M,21,R,GT3,T,1,1,Other,Other,...,5,3,3,3,3,3,10,8,7,True
393,MS,M,18,R,LE3,T,3,2,Services,Other,...,4,1,3,4,5,0,11,12,10,True
394,MS,M,19,U,LE3,T,1,1,Other,At_home,...,2,3,3,3,5,5,8,9,9,True

Step 10. Multiply every number of the dataset by 10.

I know this makes no sense, don't forget it is just an exercise

In [117]:
# df1=df*10

In [119]:
# df1

In [120]:
def df1(x):
  if type(x) is int:
    return 10*x
  else :
    return x

In [122]:
df.applymap(df1)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,legal_drinker
0,GP,F,180,U,GT3,A,40,40,At_home,Teacher,...,30,40,10,10,30,60,50,60,60,True
1,GP,F,170,U,GT3,T,10,10,At_home,Other,...,30,30,10,10,30,40,50,50,60,False
2,GP,F,150,U,LE3,T,10,10,At_home,Other,...,30,20,20,30,30,100,70,80,100,False
3,GP,F,150,U,GT3,T,40,20,Health,Services,...,20,20,10,10,50,20,150,140,150,False
4,GP,F,160,U,GT3,T,30,30,Other,Other,...,30,20,10,20,50,40,60,100,100,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,200,U,LE3,A,20,20,Services,Services,...,50,40,40,50,40,110,90,90,90,True
391,MS,M,170,U,LE3,T,30,10,Services,Services,...,40,50,30,40,20,30,140,160,160,False
392,MS,M,210,R,GT3,T,10,10,Other,Other,...,50,30,30,30,30,30,100,80,70,True
393,MS,M,180,R,LE3,T,30,20,Services,Other,...,40,10,30,40,50,0,110,120,100,True
394,MS,M,190,U,LE3,T,10,10,Other,At_home,...,20,30,30,30,50,50,80,90,90,True

Step 3. Assign it to a variable called crime.

In [123]:
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv"
crime = pd.read_csv(url)
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

Step 4. What is the type of the columns?

In [124]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

Step 5. Convert the type of the column Year to datetime64

In [125]:
crime.Year = pd.to_datetime(crime.Year, format='%Y')
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                55 non-null     datetime64[ns]
 1   Population          55 non-null     int64
 2   Total               55 non-null     int64
 3   Violent             55 non-null     int64
 4   Property            55 non-null     int64
 5   Murder              55 non-null     int64
 6   Forcible_Rape       55 non-null     int64
 7   Robbery             55 non-null     int64
 8   Aggravated_assault  55 non-null     int64
 9   Burglary            55 non-null     int64
 10  Larceny_Theft       55 non-null     int64
 11  Vehicle_Theft       55 non-null     int64
dtypes: datetime64[ns](1), int64(11)
memory usage: 5.3 KB

Step 6. Set the Year column as the index of the dataframe

In [126]:
crime.set_index("Year",drop=True)

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960-01-01,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-01-01,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962-01-01,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963-01-01,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964-01-01,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800
1965-01-01,193526000,4739400,387390,4352000,9960,23410,138690,215330,1282500,2572600,496900
1966-01-01,195576000,5223500,430180,4793300,11040,25820,157990,235330,1410100,2822000,561200
1967-01-01,197457000,5903400,499930,5403500,12240,27620,202910,257160,1632100,3111600,659800
1968-01-01,199399000,6720200,595010,6125200,13800,31670,262840,286700,1858900,3482700,783600
1969-01-01,201385000,7410900,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500
1970-01-01,203235298,8098000,738820,7359200,16000,37990,349860,334970,2205000,4225800,928400
1971-01-01,206212000,8588200,816500,7771700,17780,42260,387700,368760,2399300,4424200,948200
1972-01-01,208230000,8248800,834900,7413900,18670,46850,376290,393090,2375500,4151200,887200
1973-01-01,209851000,8718100,875910,7842200,19640,51400,384220,420650,2565500,4347900,928800
1974-01-01,211392000,10253400,974720,9278700,20710,55400,442400,456210,3039200,5262500,977100
1975-01-01,213124000,11292400,1039710,10252700,20510,56090,470500,492620,3265300,5977700,1009600
1976-01-01,214659000,11349700,1004210,10345500,18780,57080,427810,500530,3108700,6270800,966000
1977-01-01,216332000,10984500,1029580,9955000,19120,63500,412610,534350,3071500,5905700,977700
1978-01-01,218059000,11209000,1085550,10123400,19560,67610,426930,571460,3128300,5991000,1004100
1979-01-01,220099000,12249500,1208030,11041500,21460,76390,480700,629480,3327700,6601000,1112800
1980-01-01,225349264,13408300,1344520,12063700,23040,82990,565840,672650,3795200,7136900,1131700
1981-01-01,229146000,13423800,1361820,12061900,22520,82500,592910,663900,3779700,7194400,1087800
1982-01-01,231534000,12974400,1322390,11652000,21010,78770,553130,669480,3447100,7142500,1062400
1983-01-01,233981000,12108600,1258090,10850500,19310,78920,506570,653290,3129900,6712800,1007900
1984-01-01,236158000,11881800,1273280,10608500,18690,84230,485010,685350,2984400,6591900,1032200
1985-01-01,238740000,12431400,1328800,11102600,18980,88670,497870,723250,3073300,6926400,1102900
1986-01-01,240132887,13211869,1489169,11722700,20613,91459,542775,834322,3241410,7257153,1224137
1987-01-01,242282918,13508700,1483999,12024700,20096,91110,517704,855088,3236184,7499900,1288674
1988-01-01,245807000,13923100,1566220,12356900,20680,92490,542970,910090,3218100,7705900,1432900
1989-01-01,248239000,14251400,1646040,12605400,21500,94500,578330,951710,3168200,7872400,1564800
1990-01-01,248709873,14475600,1820130,12655500,23440,102560,639270,1054860,3073900,7945700,1635900
1991-01-01,252177000,14872900,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700
1992-01-01,255082000,14438200,1932270,12505900,23760,109060,672480,1126970,2979900,7915200,1610800
1993-01-01,257908000,14144800,1926020,12218800,24530,106010,659870,1135610,2834800,7820900,1563100
1994-01-01,260341000,13989500,1857670,12131900,23330,102220,618950,1113180,2712800,7879800,1539300
1995-01-01,262755000,13862700,1798790,12063900,21610,97470,580510,1099210,2593800,7997700,1472400
1996-01-01,265228572,13493863,1688540,11805300,19650,96250,535590,1037050,2506400,7904700,1394200
1997-01-01,267637000,13194571,1634770,11558175,18208,96153,498534,1023201,2460526,7743760,1354189
1998-01-01,270296000,12475634,1531044,10944590,16914,93103,446625,974402,2329950,7373886,1240754
1999-01-01,272690813,11634378,1426044,10208334,15522,89411,409371,911740,2100739,6955520,1152075
2000-01-01,281421906,11608072,1425486,10182586,15586,90178,408016,911706,2050992,6971590,1160002
2001-01-01,285317559,11876669,1439480,10437480,16037,90863,423557,909023,2116531,7092267,1228391
2002-01-01,287973924,11878954,1423677,10455277,16229,95235,420806,891407,2151252,7057370,1246646
2003-01-01,290690788,11826538,1383676,10442862,16528,93883,414235,859030,2154834,7026802,1261226
2004-01-01,293656842,11679474,1360088,10319386,16148,95089,401470,847381,2144446,6937089,1237851
2005-01-01,296507061,11565499,1390745,10174754,16740,94347,417438,862220,2155448,6783447,1235859
2006-01-01,299398484,11401511,1418043,9983568,17030,92757,447403,860853,2183746,6607013,1192809
2007-01-01,301621157,11251828,1408337,9843481,16929,90427,445125,855856,2176140,6568572,1095769
2008-01-01,304374846,11160543,1392628,9767915,16442,90479,443574,842134,2228474,6588046,958629
2009-01-01,307006550,10762956,1325896,9337060,15399,89241,408742,812514,2203313,6338095,795652
2010-01-01,309330219,10363873,1251248,9112625,14772,85593,369089,781844,2168457,6204601,739565
2011-01-01,311587816,10258774,1206031,9052743,14661,84175,354772,752423,2185140,6151095,716508
2012-01-01,313873685,10219059,1217067,9001992,14866,85141,355051,762009,2109932,6168874,723186
2013-01-01,316497531,9850445,1199684,8650761,14319,82109,345095,726575,1931835,6018632,700294
2014-01-01,318857056,9475816,1197987,8277829,14249,84041,325802,741291,1729806,5858496,689527

Step 7. Delete the Total column

In [127]:
del crime['Total']

In [128]:
crime.head()

,Year,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960-01-01,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961-01-01,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962-01-01,185771000,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963-01-01,188483000,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964-01-01,191141000,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

# Merge

Step 3. Assign each to a to a variable called cars1 and cars2

In [131]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

print(cars1.head())
print(cars2.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [132]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

Step 5. What is the number of observations in each dataset?

In [133]:
cars1.shape
cars2.shape

(200, 9)

Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [134]:
cars=cars1.append(cars2)

<ipython-input-134-445a27b2cb36>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cars=cars1.append(cars2)

In [135]:
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000

In [136]:
import numpy as np
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([64458, 45968, 42710, 17812, 32424, 48412, 68058, 21217, 26225,
       20939, 70606, 59222, 42682, 62047, 42158, 22761, 60156, 52251,
       51968, 69187, 60001, 45503, 18552, 59680, 63942, 51846, 54947,
       42801, 24743, 67415, 46718, 42656, 16853, 22070, 31301, 45689,
       52496, 48203, 66225, 60350, 54252, 59894, 15411, 30491, 41163,
       36171, 36611, 70113, 21734, 53901, 69582, 37702, 49634, 71204,
       36257, 20221, 59390, 62182, 58313, 68863, 27945, 26430, 65492,
       29722, 21340, 57464, 37707, 26579, 35708, 52838, 43410, 31958,
       67219, 57501, 28730, 40718, 55882, 31946, 41079, 21502, 34988,
       62490, 37014, 48686, 65120, 55144, 69041, 60731, 68566, 22344,
       36854, 18841, 61099, 26214, 19299, 28763, 52769, 31943, 51751,
       42776, 67348, 40855, 59509, 38742, 28521, 43637, 55850, 34313,
       18657, 22845, 29579, 66271, 15555, 54160, 69748, 61952, 61494,
       59583, 30361, 67651, 45036, 21447, 58327, 43191, 29821, 21220,
       50694, 23985, 62711, 51025, 71757, 62874, 27172, 42359, 32993,
       29089, 43798, 56444, 33808, 19418, 23833, 19387, 41132, 27898,
       26830, 62039, 36737, 18265, 62106, 27899, 37968, 54841, 33694,
       66689, 44920, 30557, 64698, 52782, 30605, 42036, 72128, 22837,
       52438, 23492, 24059, 16618, 51072, 20533, 33775, 69627, 38094,
       71619, 53487, 37816, 58971, 35255, 53670, 72510, 46431, 67611,
       25377, 24933, 37162, 23758, 20797, 36135, 30131, 40139, 30346,
       51858, 68605, 56551, 56769, 30449, 54631, 28544, 46188, 29881,
       40633, 61944, 58585, 46360, 50920, 60589, 39674, 18632, 30530,
       41123, 65681, 30722, 48011, 62186, 20993, 15625, 18904, 53646,
       55493, 31781, 45577, 60894, 30837, 26823, 49173, 56135, 22494,
       19777, 67987, 54016, 17029, 32228, 38928, 67892, 44891, 68034,
       42807, 21429, 63810, 35073, 37439, 25724, 56212, 18684, 38491,
       40042, 23172, 37692, 32636, 38198, 56409, 64383, 21463, 44560,
       55290, 49516, 55692, 60127, 31805, 53973, 16566, 26063, 48811,
       15461, 21122, 28690, 38735, 43934, 20607, 42595, 45948, 60947,
       64637, 41960, 17528, 53391, 34825, 33798, 33445, 41601, 46016,
       22802, 41888, 58612, 55738, 18194, 38774, 24631, 47811, 15842,
       70241, 40573, 30519, 37669, 70871, 59786, 59008, 44079, 64351,
       40470, 71061, 33351, 37254, 16571, 22440, 19512, 46985, 16652,
       27904, 71065, 36990, 28773, 30849, 63523, 45410, 39099, 45673,
       28415, 34387, 63290, 16177, 37020, 38766, 42367, 56553, 41088,
       65720, 54740, 54385, 36531, 59802, 34526, 28578, 59497, 52825,
       67993, 19860, 20417, 51900, 40685, 44622, 64016, 67312, 18302,
       60206, 66190, 15426, 37263, 25941, 35886, 16641, 47615, 37171,
       52610, 63880, 63772, 67112, 51983, 56582, 47323, 71790, 32587,
       36295, 71341, 48262, 15497, 56856, 66498, 49623, 52254, 64862,
       64762, 16813, 22215, 52847, 43723, 60234, 67276, 45776, 72848,
       34536, 65759, 18123, 26437, 32024, 46481, 19544, 23665, 27413,
       62054, 35150, 64848, 31068, 35271, 40823, 45469, 45023, 63293,
       29729, 43712])